*{
  outline: dotted 1px red;
  overflow: hidden;
  box-sizing: border-box;
  scroll-behavior: auto;
  overflow: visible;
}


/* === ^ general thematic styling above ^ === */

/* === Specific Element/Class/Id Styling Below === */

img {
  width: 200px;
  height: 200px;
}

li {
  width:fit-content;
}